<a href="https://colab.research.google.com/github/saykim/ds/blob/main/%08Accuracy_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, f1_score, roc_auc_score

In [39]:
def get_clf_eval(y_test, pred):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)
    roc_auc = roc_auc_score(y_test, pred)
    print('오차 행렬')
    print(confusion)
    print('정확도 : {0:.4f}, 정밀도 : {1:.4f}, 재현율 : {2:.4f},\
 F1 : {3:.4f}, AUC:{4:.4f}'.format(accuracy, precision, recall, f1, roc_auc))

In [41]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import seaborn as sns

#원본 데이터를 재로딩, 데이터 가공, 학습 데이터/테스트 데이터 분할
df = sns.load_dataset('titanic')

In [46]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [47]:
df['sex'] = [0 if i =='female' else 1 for i in df['sex']]

In [48]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [49]:
df['age'].isnull().sum()

177

In [50]:
df.groupby(['sex', 'pclass', 'embarked', 'survived'])['age'].mean()

sex  pclass  embarked  survived
0    1       C         0           50.000000
                       1           35.675676
             Q         1           33.000000
             S         0           13.500000
                       1           33.619048
     2       C         1           19.142857
             Q         1           30.000000
             S         0           36.000000
                       1           29.091667
     3       C         0           20.700000
                       1           11.045455
             Q         0           28.100000
                       1           17.600000
             S         0           23.688889
                       1           22.548387
1    1       C         0           43.050000
                       1           36.437500
             Q         0           44.000000
             S         0           45.362500
                       1           36.121667
     2       C         0           29.500000
                       1            1.000000
             Q         0           57.000000
             S         0           33.414474
                       1           17.095000
     3       C         0           27.555556
                       1           18.488571
             Q         0           28.076923
                       1           29.000000
             S         0           27.168478
                       1           22.933333
Name: age, dtype: float64

In [51]:
df['age'].fillna(df.groupby(['sex', 'pclass', 'embarked', 'survived'])['age'].transform('median'), inplace=True)

In [52]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [53]:
x_data = df[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare']]
y_data = df['survived']

In [54]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size=.3, random_state=1)

In [55]:
lr_clf = LogisticRegression(solver = 'liblinear')
rfc = RandomForestClassifier(n_jobs=-1)

In [56]:
lr_clf.fit(X_train, y_train)
rfc.fit(X_train, y_train)

RandomForestClassifier(n_jobs=-1)

In [57]:
pred = lr_clf.predict(X_test)
get_clf_eval(y_test, pred)

오차 행렬
[[133  20]
 [ 41  74]]
정확도 : 0.7724, 정밀도 : 0.7872, 재현율 : 0.6435, F1 : 0.7081, AUC:0.7564

In [58]:
pred = rfc.predict(X_test)
get_clf_eval(y_test, pred)

오차 행렬
[[139  14]
 [ 37  78]]
정확도 : 0.8097, 정밀도 : 0.8478, 재현율 : 0.6783, F1 : 0.7536, AUC:0.7934